.section--footer {
  background: $color-dark;
  .section-layer {
    padding: 3rem;
    display: block;
    .box-content {
      width: 100%;
      max-width: 100%;
      text-align: center;
      color: $color-gray0;
      font-size: 1.6rem;
      line-height: 1.38;
    }
    .copyrights {
      font-family: $font1;
    }
    .rules {
      .text-link {
        text-decoration: underline;
        color: $color-gray0;
        font-family: $font1;
        &:hover {
          text-decoration: none;
        }
      }
    }

    @media (max-width: 600px) {
      max-height: 9.2rem;
      padding: 2.4rem 1.8rem;
    }
  }
}
